version: '3.6'
services:
  rabbitmq:
    image: rabbitmq:3.11.2-management-alpine
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
      - rabbitmq_log:/var/log/rabbitmq/
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    restart: unless-stopped

  postgres:
    image: postgres:15.1
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: unless-stopped
    command: postgres -c 'max_connections=315'


  redis:
    image: redis:7.0.5-alpine
    volumes:
      - redis_data:/data
    restart: unless-stopped

  influxdb:
    image: influxdb:2.5.0
    expose:
      - "8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
      - influxdb_config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME:-admin}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD:-12345678}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG:-digma}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET:-errors}
      - DOCKER_INFLUXDB_INIT_RETENTION=${INFLUXDB_BUCKET_RETENTION:-24w}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN:-dc61908e-05bc-411a-9fe2-e3356b8dc7c0}
      - INFLUXD_QUERY_CONCURRENCY=${INFLUXD_QUERY_CONCURRENCY:-15}
      - INFLUXD_QUERY_QUEUE_SIZE=${INFLUXD_QUERY_QUEUE_SIZE:-50}
    restart: unless-stopped

  digma-collector-api:
    image: digmatic/digma-collector:0.2.79
    ports:
      - "5050:5050"
    environment:
      - CacheSettings__RedisConnection=${REDIS_CONNECTION:-redis}
      - ConnectionStrings__Postgres=Server=${POSTGRES_SERVER:-postgres};Port=${POSTGRES_SERVER_PORT:-5432};Database=digma_analytics;User Id=${POSTGRES_USER:-postgres};Password=${POSTGRES_PWD:-postgres};
      - influx2__Url=http://${INFLUXDB_URL:-influxdb}:8086
      - RabbitMq__Host=${RabbitMq_Host:-rabbitmq}
      - RabbitMq__Username=${RabbitMq_Username:-admin}
      - RabbitMq__Password=${RabbitMq_Password:-admin}
      - OtlpExporterUrl=""
      - ApplicationVersion="0.2.79"
    depends_on:
      - redis
      - influxdb
      - rabbitmq
    restart: unless-stopped

  digma-plugin-api:
    image: digmatic/digma-plugin-api:0.2.79
    ports:
      - "5051:5051"
    environment:
      - CacheSettings__RedisConnection=${REDIS_CONNECTION:-redis}
      - AnalyticsUrl=http://${ANALYTICS_URL:-digma-analytics}:5052
      - OtlpExporterUrl=""
      - ApplicationVersion="0.2.79"
    restart: unless-stopped

  digma-analytics:
    image: digmatic/digma-analytics:0.2.79
    environment:
      - influx2__Url=http://${INFLUXDB_URL:-influxdb}:8086
      - ConnectionStrings__Postgres=Server=${POSTGRES_SERVER:-postgres};Port=${POSTGRES_SERVER_PORT:-5432};Database=digma_analytics;User Id=${POSTGRES_USER:-postgres};Password=${POSTGRES_PWD:-postgres};
      - CacheSettings__RedisConnection=${REDIS_CONNECTION:-redis}
      - OtlpExporterUrl=""
      - ApplicationVersion="0.2.79"
    depends_on:
      - influxdb
      - postgres
    restart: unless-stopped
  digma-scheduler:
    image: digmatic/digma-scheduler:0.2.79
    environment:
      - influx2__Url=http://${INFLUXDB_URL:-influxdb}:8086
      - ConnectionStrings__Postgres=Server=${POSTGRES_SERVER:-postgres};Port=${POSTGRES_SERVER_PORT:-5432};Database=digma_analytics;User Id=${POSTGRES_USER:-postgres};Password=${POSTGRES_PWD:-postgres};
      - RabbitMq__Host=${RabbitMq_Host:-rabbitmq}
      - RabbitMq__Username=${RabbitMq_Username:-admin}
      - RabbitMq__Password=${RabbitMq_Password:-admin}
      - CacheSettings__RedisConnection=${REDIS_CONNECTION:-redis}
      - OtlpExporterUrl=""
      - ApplicationVersion="0.2.79"
    depends_on:
      - influxdb
      - postgres
      - rabbitmq
    restart: unless-stopped
  digma-measurement-analysis:
    image: digmatic/digma-measurement-analysis:0.2.79
    environment:
      - influx2__Url=http://${INFLUXDB_URL:-influxdb}:8086
      - ConnectionStrings__Postgres=Server=${POSTGRES_SERVER:-postgres};Port=${POSTGRES_SERVER_PORT:-5432};Database=digma_analytics;User Id=${POSTGRES_USER:-postgres};Password=${POSTGRES_PWD:-postgres};
      - RabbitMq__Host=${RabbitMq_Host:-rabbitmq}
      - RabbitMq__Username=${RabbitMq_Username:-admin}
      - RabbitMq__Password=${RabbitMq_Password:-admin}
      - CacheSettings__RedisConnection=${REDIS_CONNECTION:-redis}
      - OtlpExporterUrl=""
      - ApplicationVersion="0.2.79"
    depends_on:
      - influxdb
      - postgres
      - rabbitmq
    restart: unless-stopped

  digma-insight-analysis:
    image: digmatic/digma-insight-analysis:0.2.79
    environment:
      - influx2__Url=http://${INFLUXDB_URL:-influxdb}:8086
      - ConnectionStrings__Postgres=Server=${POSTGRES_SERVER:-postgres};Port=${POSTGRES_SERVER_PORT:-5432};Database=digma_analytics;User Id=${POSTGRES_USER:-postgres};Password=${POSTGRES_PWD:-postgres};
      - RabbitMq__Host=${RabbitMq_Host:-rabbitmq}
      - RabbitMq__Username=${RabbitMq_Username:-admin}
      - RabbitMq__Password=${RabbitMq_Password:-admin}
      - CacheSettings__RedisConnection=${REDIS_CONNECTION:-redis}
      - OtlpExporterUrl=""
      - ApplicationVersion="0.2.79"
    depends_on:
      - influxdb
      - postgres
      - rabbitmq
    restart: unless-stopped

volumes:
  rabbitmq_data:
  rabbitmq_log:
  postgres_data:
  redis_data:
  influxdb_data:
  influxdb_config:
    
networks:
  default:
    name: digma-network
